.menu-item svg
    fill: black
    width: 20px
    height: 20px

.dropdown
    position: absolute
    top: 58px
    width: 300px
    transform: translateX(-45%)
    background-color: #ffffff
    border: 0.1em solid #e6e6e6
    padding: 1em
    overflow: hidden

.menu-item
    text-decoration: none
    color: black
    heigth: 50px
    display: flex
    align-items: center
    border-radius: 8px
    transition: background 0.5s
    padding: 0.5em

.menu-item:hover
    background-color: #e6e6e6

span.icon-right
    margin-left: auto 
