.nav-item-not-logged
    width: 12em
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-evenly

.nav-bar-auth-btn
    height: 1.8em
    width: 5em
    background-color: black
    border: none
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    font-family: 'SF-Pro'
    font-weight: 700
    border-radius: 0.2em
    cursor: pointer
    color: white
    transition: 0.3s

.nav-bar-auth-btn:hover
    background-color: #000000B3
