.set-calories-container
    width: 300px
    height: 150px
    padding: 1em
    border: 0.1em solid #e6e6e6
    border-radius: 0.25em
    background-color: #ffffff
    z-index: 1000
    position: fixed
    top: 50%
    left: 50%
    margin-right: '-50%'
    transform: translate(-50%, -50%)
    font-weight: 700

.calories-input
    align-items: center

.set-calories-btn
    width: 100%
    height: 1.8em
    background-color: black
    border: none
    text-align: center
    text-decoration: none
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    font-family: 'SF-Pro'
    font-weight: 700
    border-radius: 0.2em
    cursor: pointer
    color: white
    transition: 0.3s

.set-calories-btn:hover
    background-color: #000000B3

.set-calories-form
    width: 95%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-evenly 