.login-container
    width: 425px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    border: 0.1em solid red
    padding: 1em
    
.login-btn
    background-color: #A08E81
    border: none
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    font-family: 'SF-Pro'
    font-weight: 700
    border-radius: 1.5em
    cursor: pointer
    transition: 0.3s

.login-btn:hover
    color: black
    filter: brightness(1.2)