body {
  font-family: 'SF-Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro'), url(./fonts/SF-Pro/SF-Pro.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro'), url(./fonts/SF-Pro/SF-Pro-Text-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro'), url(./fonts/SF-Pro/SF-Pro-Text-Medium.otf);
  font-weight: 600;
}

@font-face {
 font-family: 'SF-Pro';
 src: local('SF-Pro'), url(./fonts/SF-Pro/SF-Pro-Text-Bold.otf);
 font-weight: 700;
}

@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro'), url(./fonts/SF-Pro/SF-Pro-Text-Heavy.otf);
  font-weight: 900;
}